* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body, html {
  height: 100%;
  user-select: none;
}
.main-font {
    font-family: "Roboto", "-apple-system", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #BCBCBC;
}

.bg-dark {
    background: #121212;
}